body{
    overflow-y: hidden;
}

nav[top] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background: black;
    color:gainsboro;
    z-index:1000;
    -webkit-app-region: drag;
}

nav[top] *{
    -webkit-app-region: no-drag;
}

nav[top] li{
    list-style:none;
    height:100%;
    display:inline-block;
    line-height:38px;
    padding: 6px 1px;
    vertical-align: middle;
    transition: all .4s;
}

nav[left] li{
    list-style:none;
    height: 38px;
    display:inline-block;
    vertical-align: middle;
    padding: 8px 7px;
    right: 1px;
    opacity:1;
    transform: scale(1);
    position:relative;
    transition: all .4s;
}

section[right]{
    position: absolute;
    top: 38px;
    right: 0;
    height: calc(100% - 38px);
    width: 250px;
    background: #2d2d2d;
    display:inline-block;
    color:white;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: auto;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

section[right] hr{
    border: 0;
    border-bottom: 1px solid gray;
}

body {
    margin: 0;
}

li.control-spacer {
    width: 78px;
    padding: 6px 10px;
}

* {
    box-sizing: border-box;
}

nav[top] li i.material-icons {
    display: inline-block;
    border-radius: 5px;
}

nav[top] li i.material-icons:not(.netStatus){
    border: 1px solid gray;
}

nav[top] li:hover i.material-icons {
    display: inline-block;
    background: gainsboro;
    border:1px solid transparent;
    color:gray !important;
    border-radius: 5px;
    cursor:pointer !important;
}

nav[top] li:active i.material-icons {
    display: inline-block;
    background: rgba(220, 220, 220, 0.56);
    color:white !important;
    border-radius: 5px;
    cursor:pointer !important;
}


nav[left] li:hover i.material-icons {
    display: inline-block;
    background: gray;
    border-radius: 5px;
    cursor:pointer;
}

nav[left] li:active i.material-icons {
    display: inline-block;
    background: rgba(128, 128, 128, 0.43);
    border-radius: 5px;
    cursor:pointer;
}


@keyframes glow {
    0% {color:white; text-shadow:0 0 00px white;}
    15%{ color:hotpink; text-shadow: 0 0 10px deeppink;}
    35%{ color:limegreen; text-shadow: 0 0 10px lime;}
    50%{ color:dodgerblue; text-shadow: 0 0 10px deepskyblue;}
    75%{ color:orange; text-shadow: 0 0 10px gold;}
    90%{ color:darkred; text-shadow: 0 0 10px red;}
    100% {color:white; text-shadow:0 0 10px white;}
}

@keyframes fade {
    0%{
        color:White;
    }
    50%{
        color:transparent;
    }
    100%{
        color:White;
    }
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

nav[top]:after {
/*     color:rgba(220, 220, 220, 0.64); */
    color:white;
    text-shadow:0 0 10px white;
    content:attr(title);
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    position: absolute;
    line-height: 38px;
    width: 100%;
    left: 0;
    text-align: center;
    pointer-events:none;
    transition: all .4s;
}

nav[top]:hover:after{
    animation: glow 5s linear 0s infinite alternate;
    transition: all .4s;
}

.buildStat{
    animation: fade 1s linear 0s infinite alternate;
}

.working{
    animation: rotate 1s linear 0s infinite alternate;
}

.buildStat.working{
    animation: fade 1s linear 0s infinite alternate, rotate 1s linear 0s infinite reverse !important;
}

[stickRight]{
    float:right;
    margin-right: 5px;
}

[stickLeft]{
    float:left;
    margin-left: 5px;
}

[stickBottom]{
    bottom: 1px;
    position: absolute !important;
}

nav[left]{
    position: absolute;
    top: 38px;
    left: 0;
    height: calc(100% - 38px);
    width: 38px;
    background: #3d3d3d;
    display:inline-block;
    color:white;
    transition: all .4s;
}

nav[left] li[tip]:hover{
    width: 200px;
    background: #65656b;
    z-index: 1001;
    box-shadow: 0 0 12px dimgrey;
    transition: all .4s;
}

nav[left] li[tip]{
    transition: all .4s;
}

nav[left] li[tip]:after{
    transition: all .4s;
    color:transparent;
}

nav[left] li[tip]:hover:after{
    content: attr(tip);
    position: absolute;
    left: 40px;
    line-height: 38px;
    top: 0;
    max-width: 160px;
    text-overflow: ellipsis;
    color:white;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    transition: all .4s;
}

nav[left].opened{
    width:240px;
    transition: all .4s;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

nav[left].opened>*:not([stickBottom]):not([toolboxItem])[tip]{
    opacity:0;
    height: 0;
    margin:0;
    padding:0;
    top: -76px;
    transform: scale(0);
    pointer-events: none;
    transition: all .4s;
}

nav[left].opened>*[smartStick]{
    position: absolute;
    margin-left:calc(240px - 38px);
    margin-top: -36px;
    transition: all .4s;
}

nav[left]>*[smartStick]{

    transition: all .4s;
}

main.opened{
    left: 240px;
    min-width:calc(100% - 250px - 240px);
    transition: all .4s;
}

main {
    position: absolute;
    left: 38px;
    top: 38px;
    min-width: calc(100% - 250px - 38px);
    min-height: calc(100% - 38px);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

main #guestDesigner:not(.max){
    background:white;
    width: 276px;
    height: 491px;
    box-shadow: 0 6.4px 40px #1C1C1E;
    transition: all .4s;
}

main #guestDesigner.max{
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .4s;
}

.topWrapper{
    position: fixed;
    width: 250px;
    right:0;
    min-height:50px;
    height:auto;
    top:38px;
    background: black;
    box-shadow: 4px 4px 10px black;
    padding: 10px 15px;
    z-index: 9999;
}

#toolbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: calc(100% - 70px);
    overflow-y: auto;
}

#toolbox>div[item]{
    flex-grow: 1;
    width: 50%;
    max-width: 50%;
    text-align: center;
}

#toolbox>div[item]>img{
    filter:grayscale(100%);
    transform: scale(0.9);
    transition: all .4s;
}

#toolbox>div[item]>img:hover,#toolbox>div[item]:hover>img{
    filter:grayscale(0);
    transform: scale(1);
    transition: all .4s;
}

#toolbox>div[item]>p{
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 6px;
}

#toolbox>div[item]:hover{
    background: rgba(184, 184, 184, 0.26)
}

[draggable] {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: element;
}

[blocker]{
    position: fixed;
    top: 0;
    left: 38px;
    width: calc(100% - 38px);
    height: 100%;
    background: rgb(28,28,28);
    opacity:0;
    z-index: 999;
}

 .loader {
    border: 8px solid rgba(255,255,255,0.7); /* Light grey */
    border-top: 8px solid #ff4969; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position:fixed;
    display: inline-block;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    z-index: 1000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#views{
    width:100%;
}

#views>div{
    position:relative;
    height:30px;
    padding-left:10px
}

#views>div:hover{
    background:rgba(0, 0, 0, 0.25);
    cursor:pointer;
}

#views>div>p{
    display: inline-block;
    margin:0;
}

#views>div>div{
    display: inline-block;
    position:absolute;
    right:5px;
}

#views>div *{
    height:30px;
    line-height:30px;
    display: inline-block;
}

#views>div i{
    font-size:18px;
}

#views>div span{
    color:rgba(255, 253, 253, 0.51)
}

#views>div:hover span{
    color:white
}

#views>div span:first-child:hover{
    color:deepskyblue
}
#views>div span:hover{
    color:#ff1414
}

#views>div p{
    font-size:16px;
    font-weight:300;
    letter-spacing: 1.4px;
}

.prevIcon {
    width: 94%;
}